body {
    text-align: center;
}

/*playAgain.on('click', function () {*/
    /*winModal.style.display = "none";*/
/*clearBoard();*/
/*});*/

/*Scoreboard*/

.scoreboard {
    margin: auto;
    width: 500px;
    border: 3px solid green;
    padding: 0px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    display: flex;
    flex-direction: column;;
    align-items: center;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}


/* The Close Button */
.close {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.close-button {
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/*Modal Message*/
.modal-message {
    display: flex;
    justify-content: center;
    width: 100%;
}

/*Play Again Button*/
.play-again {
    background-color: #888;
    color: white;
    font-size: 16px;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    width: 50%;
    box-shadow: 3px 5px 10px 0 rgba(46, 61, 73, 0.5);
}

.play-again:hover {
    background-color: #02ccba;
    color: white;
    cursor: pointer;
}

