body {
    text-align: center;
}

.font {
    font-family: "Courier New";
    font-weight: bold;
}

.margin {
    margin: auto;
    width: 500px;
    padding: 0;
}

.title {
    display: flex;
    font-size: 3em;
    justify-content: center;
}

.scoreboard {
    display: flex;
    font-size: 1.5em;
    justify-content: center;
}

.header {
    margin-bottom: -50px;
}